<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markerhub.mapper.SserviceMapper">
    <insert id="addSservice" parameterType="map">
        INSERT INTO sservice(name) VALUES (#{name, jdbcType=VARCHAR})
    </insert>
    <delete id="deleteSservice" parameterType="Integer">
        DELETE FROM sservice
        WHERE id = #{id}
    </delete>
</mapper>
